* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  background-color: #00ffd2;
}
header .header-img {
  width: 483px;
  height: 40px;
}
header .header-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 400px;
  height: 40px;
}
header .api {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  height: 40px;
  font-size: 12px;
}
section {
  width: 100%;
  height: 810px;
  background-image: url(../gameimages/10003.jpg);
}
section .container {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: 810px;
  background-color: pink;
}
section .container .socail-icon {
  position: absolute;
  display: flex;
  width: 549px;
  height: 80px;
  top: 40px;
  right: 70px;
}
section .container .socail-icon .left-logo {
  display: flex;
  flex: 2;
  justify-content: space-between;
  align-items: center;
}
section .container .socail-icon .left-logo i {
  padding: 20px;
  flex: 1;
}
section .container .socail-icon .right-logo {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .container .topic {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 170px;
  right: 320px;
  width: 582px;
  height: 342px;
}
section .container .topic img {
  position: relative;
  width: 582px;
  height: 342px;
}
section .container .topic:after {
  content: "";
  top: 0;
  left: 0;
  width: 550px;
  height: 330px;
  position: absolute;
  border: 27px solid red;
  border-image: url(../gameimages/screen-498e9cc9.png);
  border-image-width: 27px;
  border-image-repeat: round;
  border-image-outset: 0px;
}
