.lunbo2 {
  margin-top: 50px;
  width: 100%;
  height: 820px;
}
.lunbo2 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  background-image: url(../gameimages/10003.jpg);
  border-radius: 25px;
  transition: all 0.5s;
}
.lunbo2 .container .box {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 1050px;
  height: 620px;
}
.lunbo2 .container .box .big {
  width: 950px;
  height: 100%;
  margin-right: 20px;
  background-size: cover;
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgba(255, 255, 255.2);
  transition: all 0.5s;
}
.lunbo2 .container .box .small {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
}
.lunbo2 .container .box .small .img {
  width: 200px;
  margin-bottom: 20px;
  transition: all 0.5s;
  cursor: pointer;
}
.lunbo2 .container .box .small .img img {
  width: 200px;
  border-radius: 25px;
  z-index: 99;
}
