.tuwentoggle {
  margin-top: 50px;
  width: 100%;
  height: auto;
}
.tuwentoggle .container {
  width: 1300px;
  margin: 0 auto;
  columns: 4;
  column-gap: 20px;
  background-color: #282823;
}
.tuwentoggle .container .box {
  position: relative;
  width: 100%;
  margin: 0 0 20px;
  padding: 10px;
  background-color: #f4e8f2;
  overflow: hidden;
  break-inside: avoid;
}
.tuwentoggle .container .box img {
  max-width: 100%;
}
.tuwentoggle .container .box h2 {
  margin: 10px 0 0;
  padding: 0 0 10px;
  font-size: 20px;
}
.tuwentoggle .container .box p {
  margin: 0;
  padding: 0 0 10px;
  font-size: 16px;
}
.tuwentoggle .container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  opacity: 0;
  z-index: 11;
  transition: all 0.5s;
}
.tuwentoggle .container .box .toggle {
  text-align: center;
  line-height: 25px;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  border-radius: 50%;
  background-color: pink;
  cursor: pointer;
  z-index: 10;
  transition: all 0.5s;
  box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.7);
}
@media (max-width: 960px) {
  .tuwentoggle .container {
    columns: 2;
    width: calc(100% - 20px);
    padding: 20px 20px 20px 0;
  }
}
